/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Settings */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header Styling */
header {
    background-color: #800200;
    color: white;
    padding: 20px 0;
}

.logo-n-title-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo img {
    width: 60px; /* Adjust logo size */
    height: auto;
    margin-right: 15px;
}

.title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    background: linear-gradient(to right, orange, pink, cyan);
    -webkit-background-clip: text;
    color: transparent;
}


.title p {
    font-size: 1.2rem;
    font-style: italic;
    background: linear-gradient(to left, orange, pink, cyan);
    -webkit-background-clip: text;
    color: transparent;
}



/* Main Section */
main {
    padding: 20px 10px;
    width: 100%;
    margin: 0 auto;
   background-color: #592601;
    position: relative;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.6);
}

main > * {
    position: relative;
    z-index: 4;
}

main section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin: 10px 5px;
    padding: 20px 10px;
    overflow: hidden;
    border-bottom: 1px solid #b3b3b3;
}

section:nth-child(5) {
    display: none;
}

main section h2 {
    color: #f9f9f9;
    text-align: left;
    margin-bottom: 20px;
}

main section button {
    padding: 10px 20px;
    background-color: #800200;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}
main section button:hover{
    transform: scale(1.2);
}

main section button:disabled{
    background-color: #b3b3b3;
    cursor:not-allowed;
    opacity: 0.3;
}
/* General styles for ul and li */
section ul {
    list-style-type: none; /* Remove default bullet points */
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Add space between items */
    flex-wrap: nowrap; /* Keep items in a single row */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling effect */
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

section ul::-webkit-scrollbar{
    display: none;
}

section ul li {
    min-width: 300px; /* Set fixed width for testing */
    height: 300px; /* Set fixed height for testing */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    font-size: 1.9rem;
    border: 5px solid orange;
    background-color: transparent;
    padding: 10px 20px;
}

section:first-child ul li{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section:first-child ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

section:first-child ul li > * {
    position: relative;
    z-index: 2;
}

section:nth-child(2) ul li, section:nth-child(5) ul li {
    border: 5px solid #b3b3b3;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 300px;
}

section:nth-child(3) ul li {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #f9f9f9; 
}


section:nth-child(3) ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


section:nth-child(3) ul li > * {
    position: relative;
    z-index: 1;
}

/* Footer */
footer {
    background-color: #800200;;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer p {
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .logo-n-title-header {
        flex-direction: column;
    }

    .title h1 {
        font-size: 2rem;
    }

    .title p {
        font-size: 1rem;
    }

    #featured-songs ul {
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
    }

    #featured-songs ul li {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 40px;
    }

    .title h1 {
        font-size: 1.8rem;
    }

    .title p {
        font-size: 0.9rem;
    }

    #featured-songs h2 {
        font-size: 1.6rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.overlay-album-songs {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
    background-image: url('logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    align-items: center;
    justify-content: center;
}

.close-overlay-album {
    position: absolute;
    top:20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: brown;
    color: #f9f9f9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 4;
    transition: 500ms ease-in-out;
}
.close-overlay-album:hover {
    transform: scale(1.2);
}

.overlay-content-songs{
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    padding: 20px 10px;
    scrollbar-width: none;
}

.overlay-content-songs::-webkit-scrollbar{
    display: none;
}
.overlay-content-songs ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.overlay-content-songs ul li{
    background-color: rgba(101, 8, 8, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    border:1px solid azure;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: orange;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 10px 20px;
    transition: 500ms ease-in-out;
}

.overlay-content-songs ul li:hover{
    transform: scale(1.1);
    z-index: 4;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.create-playlist-arena {
   
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    display: none;
}

.header-content {
    text-align: center;
    margin-bottom: 20px;
}

.header-content h2 {
    color: #f4f4f4; /* Burgundy for a musical theme */
    font-size: 32px;
    margin-bottom: 10px;
}

.action-header-playlist button {
    background-color: #800000;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-header-playlist button:disabled {
    background-color: #b3b3b3; /* Greyed out for 'done' button */
    cursor: not-allowed;
    opacity: 0.3;
}

.action-header-playlist button:hover:not(:disabled) {
    background-color: #4d0000; /* Darker burgundy on hover */
}

.playlist-input{
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.playlist-input input{
    outline: none;
    border: none;
    background-color: transparent;
    color: #f4f4f4;
    border-bottom: 2px solid #f4f4f4;
    width: 49%;
    font-size: 1.6rem;

}

.playlist-input input::placeholder{
    color: #f9f9f9;
}

.playlist-preview {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-playlist, .right-playlist {
    width: 49%;
    border:1px solid #f2e0d6;
    background-color: transparent; /* Soft brownish background */
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-playlist h3, .right-playlist h3 {
    color: #f4f4f4;
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}

.left-playlist ul, .right-playlist ul {
    list-style-type: none;
    padding: 0;
}

.left-playlist li, .right-playlist li {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}

.left-playlist ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y:auto;
}

.name-of-song {
    color: #f4f4f4; /* Deep brown color */
    font-size: 1.6rem;
    width: 100%;
}

.selection input {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #800000;
}

.selection input:checked {
    background-color: #800000; /* Burgundy checked box */
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.overlay-song-playlist-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #592601;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #f9f9f9;
}

.close-overlay-play-view {
    position: absolute;
    top:20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: brown;
    color: #f9f9f9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 4;
    transition: 500ms ease-in-out;
}

.close-overlay-play-view:hover {
    transform: scale(1.2);
}

.song-view-content {
    width: 60%;
    background-color: #2c2c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    height: 80%;
    position: relative;
    background-image: url('logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.song-view-content::-webkit-scrollbar{
    display: none;
}

.song-view-content h2 {
    color: #f4f4f4;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 20px;
  
}

.song-view-content h2 span{
    color: #f3f3f3;
    background-color: rgba(44, 44, 52, 0.8);
    padding: 10px 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

/* General container styling */
.song-view-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* List items */
.song-view-content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.2s;
}

.song-view-content li:hover {
    background-color: #555;
    transform: translateY(-2px);
    cursor: pointer;
}

.song-view-content li.active {
    background-color: #222;
    color: #f39c12;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

/* Song title and index styling */
.song-title-view {
    display: flex;
    align-items: center;
    gap: 8px;
}

.song-title-view .song-index {
    font-size: 18px;
    color: #f39c12;
    font-weight: bold;
}

.song-title-view .song-name {
    font-size: 18px;
    color: #e4e4e6;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Limit title width */
}

.song-view-content li.active .song-name {
    font-weight: bold;
}

/* Play icons and timespan */
.play-icon-timespan {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
}

.play-icon-timespan span {
    color: #e4e4e6;
    font-size: 16px;
    transition: color 0.3s;
}
.song-view-content li.hidden {
    background-color: #592601;
    color: #f4f4f4;
    opacity:0.5;
    box-shadow: none;
    border-color: transparent;
}

.song-view-content li.hidden .play-icon-timespan:first-child{
    z-index: 2;
    color: #f39c12;
}
.play-icon-timespan .view-icon:hover i {
    color: #f39c12;
}

.play-icon-timespan .time-span {
    font-size: 14px;
    font-weight: normal;
}

.play-icon-timespan .play-icon {
    font-size: 24px;
    color: #f39c12;
    cursor: pointer;
    transition: transform 0.2s, color 0.3s;
}

.play-icon-timespan .play-icon:hover {
    transform: scale(1.2);
    color: #f2e0d6;
}


@media (max-width: 801px) {
    /* Adjust overlay to fit the screen */
    .overlay-song-playlist-view {
        padding: 0;
        justify-content: center;
        align-items: center; /* Align at the top of the screen for better visibility */
    }

    /* Close button */
    .close-overlay-play-view {
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
        padding: 5px;
    }

    /* Adjust song view content */
    .song-view-content {
        width: 100%; /* Make it take up most of the screen width */
        height: 80vh;
        background-size: cover; /* Ensure background image fits */
        padding: 5px; /* Reduce padding to save space */
        border-radius: 8px; /* Slightly smaller border radius */
        box-shadow: none; /* Remove shadow for simpler design */
        background-position: top center; /* Adjust background position */
    }

    /* Remove the scrollbar for smaller screens */
    .song-view-content::-webkit-scrollbar {
        display: none;
    }

    /* Adjust the title and the song list */
    .song-view-content h2 {
        font-size: 1rem; /* Make the title smaller */
        padding: 0;
    }

    .song-view-content h2 span {
        font-size: 1rem; /* Adjust font size */
        padding: 3px 6px; /* Adjust padding */
    }

    .song-view-content li {
        padding: 20px 10px; /* Reduce padding for smaller screens */
        background-color: rgba(44, 44, 52, 0.601);
        flex-direction: column;
        text-align: center;
    }

    .song-view-content li:hover{
        background-color: transparent;
    }


    .song-title-view span {
        font-size: 1rem; /* Smaller font size */
        text-align: center;
    }

    

    .play-icon-timespan{
        justify-content: space-between;
        width:100%;
        flex-direction: row-reverse;
    }
    .play-icon-timespan span {
        font-size: 1rem; /* Smaller time span font */
    }

    .play-icon-timespan span:last-child {
        font-size: 20px; /* Slightly smaller play icon */
    }

    /* Make the active song highlight and play icon more noticeable on smaller screens */
    .song-view-content li.active .play-icon-timespan span:last-child {
        color: #f2e0d6;
    }
}





/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.notification-section {
    position: fixed;
    bottom: 20px; /* Adjust this value for vertical spacing */
    right: 20px; /* Adjust this value for horizontal spacing */
    background-color: #800200; /* Set a background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 8px; /* Rounded corners */
    display: none; /* Flexbox for content alignment */
    align-items: center;
    flex-direction: column;
    padding: 10px; /* Padding around the content */
    z-index: 1000; /* Ensure it's on top of other content */
    max-width: 500px; /* Set a width */
    height: auto;
    min-height: 20vh;
}

.notification-section .img{
    width: 100%; /* Adjust image size */
    height: auto;
    overflow: hidden;
}

.notification-section .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.notification-section .message-section span {
    font-size: 14px; /* Text size */
    color: #f9f9f9; /* Text color */
    line-height: 1.5; /* Line height for better readability */
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/

main #archives ul li button{
    position: absolute; 
    top: 5px; 
    left: 5px; 
    background: none; 
    border: none; 
    color: #f4f4f4; 
    font-size: 1.6rem; 
    cursor: pointer;
    background-color: #800200;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #archives ul li .Playlist-name{
    text-align: center; 
    margin-top: 20px; 
    font-size: 1.8rem; 
    font-weight: bold;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

.loading-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure it overlays other content */
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3); /* Light border */
    border-top: 5px solid #ffffff; /* Highlighted part of the spinner */
    border-radius: 50%; /* Make it a circle */
    animation: spin 1s linear infinite; /* Rotate continuously */
}

/* Keyframes for the spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/* Highlight the "Serenade Collection" playlist */
.highlight {
    background-color: #592601; /* A soft pink or lavender tone */
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em; /* Slightly larger font */
    text-align: center; /* Center the playlist name */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add hover effect for the highlight */
.highlight:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly deeper shadow */
}

/* Style the text within the highlight */
.highlight .Playlist-name {
    color: #e4e4e6; /* Deep purple color for text */
}

/* Optional: Tooltip styling if using title attribute */
.highlight[title] {
    position: relative;
    cursor: help;
    background-color: #222;
    color: #e4e4e6;
}

.highlight[title]::after {
    content: attr(title);
    position: absolute;
    bottom: 100%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9em;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.highlight[title]:hover::after {
    opacity: 1;
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/* General styles for the About section */
#About {
    background-color:  #451d01; /* Light background for readability */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif; /* Classical feel */
    color:#f9f9f9;
}

/* Main heading style */
#About h2 {
    font-size: 2em;
    font-weight: bold;
    color:#f9f9f9;
    text-align: center;
    margin-bottom: 20px;
}

/* Introduction paragraph */
#About > p {
    font-size: 1.2em;
    line-height: 1.6;
    color:#b3b3b3;
    margin-bottom: 30px;
    text-align: justify;
}

/* Article styles */
.seo-article {
    background-color: #80020096;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Article heading */
.seo-article h3 {
    font-size: 1.5em;
    color: #f4f4f4; /* Subtle yet elegant blue for emphasis */
    margin-bottom: 10px;
}

/* Article paragraph */
.seo-article p {
    font-size: 1em;
    line-height: 1.5;
    color: #b3b3b3;
}

/* Hover effect for articles */
.seo-article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Styling for the Disclaimer article */
#disclaimer {
    background-color: goldenrod;
    padding: 20px;
    border: 2px solid #e0a96d; /* Slightly darker border for contrast */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Additional styles to make the disclaimer visually distinct */
#disclaimer h3 {
    color: #222; /* Chocolate color to match the theme */
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
}

#disclaimer p {
    color: #000; /* Warm brown for text */
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
}


/* Add responsive styles */
@media (max-width: 768px) {
    #About {
        padding: 15px;
    }

    #About h2 {
        font-size: 1.8em;
    }

    .seo-article {
        padding: 15px;
    }

    .seo-article h3 {
        font-size: 1.3em;
    }
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Starting Page Styles */
.starting-page {
    text-align: center;
    padding: 60px 20px; /* Slightly increased padding for better spacing */
    background: linear-gradient(to bottom right, #fff5f5, #ffd9d9); /* Softer gradient */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for a soft floating effect */
    font-family: 'Arial', sans-serif; /* Set a clean and modern font */
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.starting-page::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    width: 100%;
    height: 100%;

}

.starting-page > * {
    position: relative;
    z-index: 2;
}

.starting-page h1 {
    font-size: 3em; /* Increased size for a more dramatic headline */
    color: #f2e0d6; /* Rich red for elegance */
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for added depth */
    font-weight: bold; /* Strong emphasis on the heading */
    letter-spacing: 1px; /* Slight letter spacing for a more refined look */
}

.starting-page p {
    font-size: 1.4em; /* Slightly larger text for readability */
    margin-bottom: 40px;
    color: #f2e0d6; /* Subtle red color for the paragraph */
    max-width: 700px; /* Increased max width for better readability */
    line-height: 1.8; /* Increased line height for readability */
    text-align: center; /* Center-align text for better presentation */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15); /* Soft shadow for more depth */
    letter-spacing: 0.5px; /* Slight letter spacing */
}

.starting-page p span {
    color: #f39c12;
    padding: 10px 20px ;
}

#skip-button {
    padding: 15px 30px; /* Slightly larger button for better touch interaction */
    font-size: 1.2em;
    background-color: #e60000;
    color: white;
    border: none;
    border-radius: 12px; /* Rounder button corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for floating effect */
    outline: none; /* Remove the outline on focus */
}

#skip-button:hover {
    background-color: #c10000;
    transform: scale(1.1); /* Slightly enlarges on hover for more interactivity */
}

#skip-button:disabled {
    background-color: transparent;
    border: 2px solid #7a0000;
    cursor: not-allowed;
    opacity: 0.4;
    color: #f39c12;
    box-shadow: none; /* Remove shadow when disabled */
}

@media screen and (max-width: 801px) {
    /* Mobile-responsive design */
    .starting-page {
        padding: 40px 10px;
    }

    .starting-page h1 {
        font-size: 2.5em;
    }

    .starting-page p {
        font-size: 1.2em;
    }

    #skip-button {
        padding: 12px 25px;
        font-size: 1.1em;
    }
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.resume-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensures the overlay appears above all other content */
}

.resume-content {
    background-color: #451d01; /* White background for the dialog */
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    text-align: center; /* Center-align text */
    max-width: 400px; /* Limits the dialog size */
    width: 90%; /* Responsive width for smaller screens */
}

.resume-content p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff5f5; /* Darker text for readability */
}

.resume-content button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff; /* White text for buttons */
    background-color: #f39c12; /* Blue background for the "Yes" button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-content button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.resume-content button#cancelResumeBtn {
    background-color: #800200; /* Red background for the "No" button */
}

.resume-content button#cancelResumeBtn:hover {
    background-color: #a71d2a; /* Darker red on hover */
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.song-list{
    width: 100%;
}
.song-list ul li.clicked {
    background-color: #7a0000;
    border-color: blueviolet;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.video-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Add some spacing between elements if needed */
    position: relative;
    margin-bottom: 30px;
}

.video-layout{
    width: auto; /* Adjust this value to control the width of the video */
    height: 80vh; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners */
    border: 1px solid #e4e4e6;
    
}
.video-layout video  {
    width: 1005;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Optional: Add rounded corners */
}

.video-layout video.blur{
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    opacity: 0.3;
    filter: grayscale(100%);
}

.song-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-progress-truck {
    width: 100%;
    height: 8px;
    background-color: #555;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.video-progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(135deg, orange, cyan);
    transition: width 0.3s ease;
}

.video-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.video-actions button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #592601;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.video-actions button:hover {
    background-color: #451d01;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.fav-list {
    width: 100%;
    padding: 20px 10px;
    display: none;
}
.fav-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 items per row for wider screens */
    gap: 16px; /* Space between items */
    list-style: none; /* Remove default bullet points */
    padding: 0;
    margin: 0;
}

.fav-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* Optional: border for each item */
    border-radius: 8px; /* Optional: rounded corners */
    padding: 10px;
    background-color: transparent; /* Optional: background color */
    height: auto;
    overflow: hidden;
}

.fav-list .image{
    width: 100%; /* Make images responsive */
    height: 40vh; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: rounded corners for the image */
}
.fav-list .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Optional: rounded corners for the image */
}

.fav-list .song-name {
    margin-top: 8px;
    font-size: 16px;
    text-align: center;
    color: #333; /* Optional: text color */
    font-weight: bold;
    word-wrap: break-word; /* Prevent text overflow */
}
